/* Navbar Styling*/

.Navbar{
  display:flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #376E6F;
}

.Navbar a:hover{
  color: #1C3334;
}

.container{
  width: 100%;
  justify-content: left;
}

.container a{
  text-decoration: none;
}

/* about section styling */
.row{
  display:flex;
}
.profileContainer{
  display: inline-block;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #1C3334;
}

.picture{
  align-items: center;
}

.rounded{
  height: 500px;
  width: 500px;
  border-radius: 200px;
  border: 15px solid #DA7B93;
  box-shadow: 0 4px 5px 3px rgba(218, 123, 147, 0.459);
  margin:100px;
}

.aboutDescription{
  font-size: 30px;
  color:#DA7B93;
  margin: 50px;
  box-shadow: 0 4px 5px 3px rgba(218, 123, 147, 0.459);
  border:15px solid #DA7B93;
  
}

/* footer styling */
.footer{
  background-color: #376E6F;
  padding-top: 50px;
  padding-bottom: 50px;
  /* position: absolute; */
  left:0;
  right:0;
  bottom: 0;
}

.navbar a{
  color: white;
  margin-left:50px;
  margin-right: 50px;
  font-size: 30px;
}

.footer a:hover{
  color: #1C3334;
}

/* contact form styling */
.contact{
  background-color: #1C3334;
}

/* styling for porfolio */
.project-card-img{
  width: 200px;
}

.project-section {
  position: relative !important;
  padding-top: 75px !important;
  padding-bottom: 30px !important;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;  
}

.project-card-view {
  box-shadow: 0 4px 5px 3px rgba(218, 123, 147, 0.459) !important;
  color: white !important;
  /* background-color:#DA7B93; */
  background-color: transparent; 

  
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(218, 123, 147, 0.561) !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

.project-heading {
  color: white !important;
  font-size: 2.5em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

.btn-primary {
  color: #fff !important; 
  border-color: #376E6F !important;
  background-color: #376E6F
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #DA7B93 !important;
  border-color: #DA7B93 !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}


/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS*/
@media screen and (max-width:980px) {
  .picture{
    flex-direction: column;
  }
  .navbar{
    flex-direction: column;
    text-align: center;
  }
  .resumeRow{
    flex-direction: column;
    padding-left:20px;
    
  }
  .contactForm{
    width: 600px;
  }
  
  




  
}





