/* Navbar Styling*/

.Navbar{
  display:flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #376E6F;
}

.container{
  width: 100%;
  justify-content: left;

}

.container a{
  text-decoration: none;
}

/* about section styling */
.row{
  display:flex;
}
.profileContainer{
  display: inline-block;
  flex-wrap: wrap;
  flex-direction: column
}

.picture{
  align-items: center;
}

.rounded{
  height: 500px;
  width: 500px;
  border-radius: 200px;
  border: 15px solid #DA7B93;
  margin:100px;
}

.aboutDescription{
  font-size: 30px;
  color:#DA7B93;
  margin: 50px;
  
  
  

}




/* #name a{
  justify-content: start;
  width:100%;
} */


/* .container{
  display: flex;
  justify-content:right;
  padding-top: 50px;
} */

/* .name a{
  padding-right: 200px;
} */

/* .container h1{
  justify-content: left;
} */



.navbar a{
  color: white;
  margin-left:50px;
  margin-right: 50px;
  font-size: 30px;
}


/* .navbar{
  float:right;
  justify-content: space-evenly;
  display:flex;
}

.navbar a{
  color: white;
}

.navbar li{
  justify-content: space-between;
} */


/* ul {
  list-style: none; /*to remove bullets*/
  /* text-align: center;
  zoom:1;
  border:1px solid black;
  width: 100%;
  background-color:black;
} */ 

/* li{
  padding: 5px;
  width: 350px;
  display:inline-block;
  height: 20px;
}

li:hover{
  background-color: #355e3b;
}

a{
  color: white;
}


.App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test a{
  margin-left: 250px;
  padding: 20px;
}

.about-me{
  display: flex;
  flex-direction: column;
  

} */





