body {
  background-color:#2F4454;
  margin: 0;
  font-family: "Roboto","Helvetica","Arial","sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
h1 {
  background-color: #ec160a;
  text-align: center;
  margin:0%;
  padding: 2%;
  font-family: "Roboto","Helvetica","Arial","sans-serif";
  height: 50px;
  text-decoration: underline;
}

h2{ 
  text-align: center;
}

img{
  justify-content: center;  
}

.project-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
}

.project-card-img{
  width: 200px;
} */

/* .project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
  
  
} */

/* .project-card-view {
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
  color: white !important;
  background-color: transparent !important;
  
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
} */
/* .project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
} */

/* .card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
} */

/* .project-heading {
  color: white !important;
  font-size: 2.5em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

.img{
  height: 200px;
  width: 200px;
} */