body {
  background-color:#ec160a;
  margin: 0;
  font-family: "Roboto","Helvetica","Arial","sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto","Helvetica","Arial","sans-serif"
}

h1 {
  background-color: #ec160a;
  text-align: center;
  margin:0%;
  padding: 2%;
  font-family: "Roboto","Helvetica","Arial","sans-serif";
}

h2{ 
  text-align: center;
}

img{
  justify-content: center;  
}
